<div>
    <h2 id="page-heading">
        <span jhiTranslate="brainyoddsApp.gameEvent.home.title">Game Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game-event" [routerLink]="['/game-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="brainyoddsApp.gameEvent.home.createLabel">
            Create a new Game Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="gameEvents?.length === 0">
        <span jhiTranslate="brainyoddsApp.gameEvent.home.notFound">No gameEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="gameEvents && gameEvents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timeOfMessage"><span jhiTranslate="brainyoddsApp.gameEvent.timeOfMessage">Time Of Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gameEventId"><span jhiTranslate="brainyoddsApp.gameEvent.gameEventId">Game Event Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventType"><span jhiTranslate="brainyoddsApp.gameEvent.eventType">Event Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="team"><span jhiTranslate="brainyoddsApp.gameEvent.team">Team</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="active"><span jhiTranslate="brainyoddsApp.gameEvent.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="timeOfEventOccurence"><span jhiTranslate="brainyoddsApp.gameEvent.timeOfEventOccurence">Time Of Event Occurence</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matchId"><span jhiTranslate="brainyoddsApp.gameEvent.match">Match</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let gameEvent of gameEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/game-event', gameEvent.id, 'view']">{{ gameEvent.id }}</a></td>
                    <td>{{ gameEvent.timeOfMessage | date:'medium' }}</td>
                    <td>{{ gameEvent.gameEventId }}</td>
                    <td jhiTranslate="{{ 'brainyoddsApp.GameEventType.' + gameEvent.eventType }}">{{ gameEvent.eventType }}</td>
                    <td jhiTranslate="{{ 'brainyoddsApp.TeamHomeOrAway.' + gameEvent.team }}">{{ gameEvent.team }}</td>
                    <td>{{ gameEvent.active }}</td>
                    <td>{{ gameEvent.timeOfEventOccurence | date:'medium' }}</td>
                    <td>
                        <div *ngIf="gameEvent.matchId">
                            <a [routerLink]="['/match', gameEvent.matchId , 'view']" >{{ gameEvent.matchId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/game-event', gameEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/game-event', gameEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(gameEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
