<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span jhiTranslate="brainyoddsApp.match.detail.title">Match</span> {{ match.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="brainyoddsApp.match.timeOfMessage">Time Of Message</span></dt>
                <dd>
                    <span>{{ match.timeOfMessage }}</span>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.matchId">Match Id</span></dt>
                <dd>
                    <span>{{ match.matchId }}</span>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.matchDate">Match Date</span></dt>
                <dd>
                    <span>{{ match.matchDate }}</span>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.cornerSending">Corner Sending</span></dt>
                <dd>
                    <span>{{ match.cornerSending }}</span>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.homeTeam">Home Team</span></dt>
                <dd>
                    <div *ngIf="match.homeTeam">
                        <a [routerLink]="['/team', match.homeTeam?.id, 'view']">{{ match.homeTeam?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.awayTeam">Away Team</span></dt>
                <dd>
                    <div *ngIf="match.awayTeam">
                        <a [routerLink]="['/team', match.awayTeam?.id, 'view']">{{ match.awayTeam?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.league">League</span></dt>
                <dd>
                    <div *ngIf="match.league">
                        <a [routerLink]="['/league', match.league?.id, 'view']">{{ match.league?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.sport">Sport</span></dt>
                <dd>
                    <div *ngIf="match.sport">
                        <a [routerLink]="['/sport', match.sport?.id, 'view']">{{ match.sport?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="brainyoddsApp.match.region">Region</span></dt>
                <dd>
                    <div *ngIf="match.region">
                        <a [routerLink]="['/region', match.region?.id, 'view']">{{ match.region?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
